q<section class="mainbar">
    <section class="matter">
        <div class="container">
	        <div>
				<button class="btn btn-info btn-info-md"
				ng-click="vm.goBack() ">
					<i class="fa fa-hand-o-left" translate="GO_BACK"> </i>
				</button>
				<button class="btn btn-info btn-form-md" ng-click="vm.cancel()"
					ng-disabled="vm.isUnchanged()">
						<i class="fa fa-undo" translate="CANCEL"> </i>
				</button>
				<button class="btn btn-info-form-md" ng-click="vm.save()"
					ng-disabled="patientForm.$invalid || vm.isUnchanged()">
						<i class="fa fa-save" translate="SAVE">  </i>
				</button>

				<!--Need ng-hide for show/hide animations  -->
				<span ng-hide="vm.isUnchanged()" class="dissolve-animation ng-hide flag-haschanges" >
					<i class="fa fa-asterisk fa fa-asterisk-large"
						rel="tooltip" title="You have changes" >  </i>
				</span>
			</div>

			<!-- <div class="widget wblue">
			</div> -->

			<div class="panel panel-primary">
        <div class="panel-heading" translate="PATIENT_DETAILS">  </div>
				<div class="panel-body">
          <form role="form" name="patientForm" class="form-horizontal" ng-class="{'has-error': patientForm.$touched && patientForm.$invalid}"
           novalidate>
            <!-- <pre> {{ patientForm | json }} </pre> -->

          <div title="Editar {{vm.getFullName() || 'Novo Paciente' }}"> </div>
          <div class="widget-content user">
          </div>
            <div class="col-sm-6">
              <div class="form-group"
              ng-class="{'has-error':patientForm.nid.$touched && patientForm.nid.$invalid}" >
                  <label for="nid" class="control-label" translate="NID"> NID </label>
                  <input name="nid" class="form-control" ng-model="vm.patient.nid" placeholder="NID" required minlength="5" >
                  <div class="help-block" ng-messages="patientForm.nid.$error">
                      <div ng-messages-include="app/core/validation-messages.html"> </div>
                  </div>
              </div>
              <div class="form-group"
              ng-class="{'has-error':patientForm.firstName.$touched && patientForm.firstName.$invalid}" >
                <label for="" class="control-label" translate="Name"> Nome  </label>
                <div>
                  <input class="form-control" ng-model="vm.patient.firstName" name="firstName"
                  placeholder="{{'Name'| translate }}" required minlength="3">
                  <div class="help-block" ng-messages="patientForm.firstName.$error">
                      <div ng-messages-include="app/core/validation-messages.html"> </div>
                  </div>
                </div>
              </div>
              <div class="form-group"
              ng-class="{'has-error':patientForm.lastName.$touched && patientForm.lastName.$invalid}">
                <label for="" class="control-label" translate="Surname">  </label>
                <div>
                  <input class="form-control" ng-model="vm.patient.lastName" placeholder="Apelido"
                  required minlength="3" >
                  <div class="help-block" ng-messages="patientForm.lastName.$error">
                      <div ng-messages-include="app/core/validation-messages.html"> </div>
                  </div>
                </div>
              </div>
              <div class="form-group"
              ng-class="{'has-error':patientForm.age.$touched && patientForm.age.$invalid}" >
                <label for="" class="control-label" translate="Age">  </label>
                <div>
                  <input type="number" class="form-control" ng-model="vm.patient.age" placeholder="Idade"
                  required minlength="3" min="0">
                  <div class="help-block" ng-messages="patientForm.age.$error">
                      <div ng-messages-include="app/core/validation-messages.html"> </div>
                  </div>
                </div>
              </div>
              <div class="form-group"
              ng-class="{'has-error':patientForm.location.$touched && patientForm.location.$invalid}" >
                <label for="" class="control-label" translate="ADDRESS">  </label>
                <div>
                  <input class="form-control" ng-model="vm.patient.location" placeholder="Endereco"
                  required minlength="3">
                  <div class="help-block" ng-messages="patientForm.location.$error">
                      <div ng-messages-include="app/core/validation-messages.html"> </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
				</div>

				<div class="panel-footer">

				</div>

    </section>
</section>
